 <h1> Register Product </h1> 
      <%= render 'form' %>


<%# <%= form_with model: @product , url: products_path, local: true  do |form| %>
   <%# <h2>Company details</h2>
   <%= form.text_field "product[company_name][first]" %>
   <%# <%= form.text_field "product[company_name][second]" %>
   <%# <%= form.text_field "product[company_name][third]"%> 
   <%# <%= form.submit %> 
<%# <% end %> 


      