<!DOCTYPE html>
<html>
  <head>
    <title>FormHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Product Form</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
         </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>Home<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
            <a class="nav-link"  href=<%=new_product_path%>>Add new user</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o">
            <span class="badge badge-primary">8</span>
          </i>
          Product Catagory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Fruits & Vegetables</a>
          <a class="dropdown-item" href="#">Cosmetics</a>
          <a class="dropdown-item" href="#">Health</a>
          <a class="dropdown-item" href="#">Home Appliances</a>
          <a class="dropdown-item" href="#">Grocery</a>
          <a class="dropdown-item" href="#">Electronics</a>
          <a class="dropdown-item" href="#">Sanitry</a>
           <a class="dropdown-item" href="#">Crockry</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All</a>
        </div>
      </li>
    </ul>
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
   <%= yield %>

</body>
</html>
